<<<<<<< HEAD
h3{
    font-size: 36px;
    color: pink;
}
ul {
  list-style: none;
=======
h4{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
>>>>>>> 365f7800c621ecea46f13a327bd30b70e2bba24e
}